@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "reset";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font: var(--font-m);

    background-color: var(--bg-color);
    color: var(--primaruy-color);

    min-height: 100vh
}
