.app.dark {
  --bg-color: #1a8ce8;
  --inverted-bg-color: #9b9999;

  --primaruy-color: #023f02;
  --secondary-color: #0dab0d;
  --inverted-primaruy-color: #064a96;
  --inverted-secondary-color: #0b64c7;
}